.card-wrapper {
    margin: 2.5% 0;
  }
  
/* You can adjust the image size by increasing/decreasing the width, height */
.custom-circle-image {
  width: 4vw; /* note i used vw not px for better responsive */
  height: 4vw;
}

.custom-circle-image img {
  object-fit: cover;
}

/* .card-title {
  letter-spacing: 1px;
} */

.card-text {
  font-family: MerriweatherRegular;
  font-size: 5px;
  line-height: initial;
}

.dropzone {
  border-style: dashed;
}


.error {
  font-family: MerriweatherRegular;
  font-size: 30px;
  line-height: initial;
  color: blue;
  text-align: center;
}

#classTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#classTable td, #classTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#classTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.h4, h4 {
font-size: 1rem;
}